form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 500px;

  margin: 0 auto;

  margin-top: 300px;
  margin-bottom: 300px;
}

h5 {
  color: var(--branco);

  text-align: center;

  font: 700 3rem/110% var(--font-family);
}

input,
textarea,
button {
  padding: 10px;
  background-color: var(--branco);
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder,
button {
  font: 500 1rem/110% var(--font-family);
  color: rgba(0, 0, 0, 0.4);
}

button {
  display: flex;
  justify-content: center;

  width: 200px;

  background: #d10f66;
  border-radius: 8px;
}

#btn-submit {
  display: flex;
  justify-content: center;
}
